html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================= CSS RESET ENDS =========================== */

body { background-color: #fff; }
	#container { width: 900px; margin: 60px auto; }

#menu { background-color: #000; }
	#menu ul { padding: 10px 5px; }
	#menu ul li { display: inline-block; }
	#menu ul li a { padding: 10px 5px; font-family: "lucida grande", sans-serif; font-size: 12px; color: #fff; text-decoration: none; font-variant: small-caps; }
	#menu ul li a:hover { color: lime; }

#page {}
	#page input[type="text"] { font-family: Arial, Sans-Serif; font-size: 13px; padding: 4px; border: solid 1px #ccc; width: 300px; background-color: #eee; }
	#page input[type="text"]:hover { border: solid 1px #666; } 
	
#page ul li.contactItem { display: block; background: #eee; float: left; margin: 5px; width: 250px; padding: 10px; border: 1px solid #aaa; font-size: 12px; font-family: Arial, "MS Trebuchet", sans-serif; }
	#page ul li dt { font-size: 13px; font-weight: 600; }
	#page ul li a.categoryLink { float: right; color: #aaa; font-style: oblique; text-decoration: none; }
	#page ul li dl img { float: left; padding-right: 10px; }

#buttonField { float: right; margin-top: -55px; margin-right: -45px; }
#page ul li dl img.deleteContact { cursor: pointer; }
#page ul li dl img.editContact { margin-right: -8px; cursor: pointer; }

#addContactForm { width: 660px; margin: 20px 0 10px 10px; }
	#column1 { float: left; }
	#column2 { margin-left: 350px; }
	#addContactForm label { color: #aaa; font-family: Verdana; font-size: 14px; padding-bottom: 3px; margin-left: -5px; } 
