<!doctype html>
<head>
	<meta charset="utf-8">
	 <title>ContactMe</title>
	 <link rel="stylesheet" href="css/style.css">
	 <script type="text/javascript" data-main="js/main" src="js/libs/require/require.js"></script>

   <!-- MainHomeView -->
   <script type="text/template" id="main-home-template">
  <form id="addContactForm" method="POST" action="">
    <fieldset>
    <div id="column1">
      <label for="name">Namn: </label><br/>
        <input class="inputField" type="text" name="name" id="name" /><br/>
      <label for="street">Gata: </label><br/>
        <input class="inputField" type="text" name="street" id="street" /><br/>
    </div>
    <div id="column2">
      <label for="zip"> Postnr: </label><br/>
        <input class="inputField" type="text" name="zip" id="zip" /><br/>
      <label for="city">Stad: </label><br/>
        <input class="inputField" type="text" name="city" id="city" /><br/>
      </div>
        <input class="button" type="submit" value="Skapa kontakt" id="addContactBtn" name="addContactBtn" />
    </fieldset>
  </form>
  <div id="contactsItem">
     <ul>
      <% _.each(contacts, function(contact) { %>
        <li class="contactItem">
          <dl>
            <img src="<%= contact.attributes.profilePic %>" width="50" height="50" />
            <dt><%= contact.attributes.name %></dt>
            <dd><%= contact.attributes.street %><dd>
            <dd><%= contact.attributes.zip %><dd>
            <dd><%= contact.attributes.city %><dd>
            <a class="categoryLink" href="#"><dd><%= contact.attributes.category %><dd></a>
            <img src="img/remove.png" alt="remove" class="deleteContact" id="<%= contact.attributes.id %>" title="<%= contact.attributes.name %>" />
            <input type="hidden" name="removeContact" value="<%= contact.attributes.id %>" class="removeContact" />
          </dl>
        </li>
      <% }); %>
      </ul>
    </div>
   </script>
</head>
<body>
  <div id="container">
    <div id="header">
    </div>
    <div id="menu">
      <ul>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
    <div id="page">
    </div>
  </div> 
</body>
</html>
