<!doctype html>
<head>
	<meta charset="utf-8">
	 <title>ContactME - Keeps track of your contacts</title>
	 <link rel="stylesheet" href="css/style.css">
	 <script type="text/javascript" data-main="js/main" src="js/libs/require/require.js"></script>


<!-- TEMPLATES START -->

   <!-- CreateContact -->
   <script type="text/template" id="main-home-template">
    <form id="addContactForm" method="POST" action="">
      <fieldset>
      <div id="column1">
        <label for="name">Name </label><span id="nameValidation"> * You must type a name.</span><br/>
          <input class="inputField" type="text" name="name" id="name" /><br/>
        <label for="street">Street </label><span id="streetValidation"> * You must type a street.</span><br/>
          <input class="inputField" type="text" name="street" id="street" /><br/>
      </div>
      <div id="column2">
        <label for="zip"> Zip </label><span id="zipValidation"> * You must type a zip.</span><br/>
          <input class="inputField" type="text" name="zip" id="zip" /><br/>
        <label for="city">City </label><span id="cityValidation" visibility="hidden"> * You must type a city.</span><br/>
          <input class="inputField" type="text" name="city" id="city" /><br/>
        </div>
          <input class="button" type="submit" value="Save contact" id="addContactBtn" name="addContactBtn" /><br/><br/>
      </fieldset>
      <div id="searchWrapper">
        <input type="text" id="searchContact" name="searchContactField" value="Search contact..." onblur="this.value='Search contact...'" onfocus="this.value = ''"  />
      </div>
    </form>
  </script>

  <!-- EditContact -->
   <script type="text/template" id="edit-contact-template">
    <form id="addContactForm" method="POST" action="">
      <fieldset>
      <div id="column1">
        <label for="name">Name </label><span id="nameValidation"> * You must type a name.</span><br/>
          <input class="inputField" type="text" value="<%= contact.name %>" name="name" id="name" /><br/>
        <label for="street">Street </label><span id="streetValidation"> * You must type a street.</span><br/>
          <input class="inputField" type="text" value="<%= contact.street %>" name="street" id="street" /><br/>
      </div>
      <div id="column2">
        <label for="zip">Zip </label><span id="zipValidation"> * You must type a zip.</span><br/>
          <input class="inputField" type="text" value="<%= contact.zip %>" name="zip" id="zip" /><br/>
        <label for="city">City </label><span id="cityValidation" visibility="hidden"> * You must type a city.</span><br/>
          <input class="inputField" type="text" value="<%= contact.city %>" name="city" id="city" /><br/>
        </div>
          <input class="button" type="submit" value="Update contact" id="updateContactBtn" name="updateContactBtn" /><br/><br/>
          <input type="hidden" id="contactID" value="<%= contact.id %>" />
          <input type="hidden" id="contactCategory" value="none" />
      </fieldset>
    </form>
  </script>

  <!-- ContactItem -->
  <script type="text/template" id="contact-template">
    <div class="contactItem">
      <dl>
        <img src="<%= contact.profilePic %>" width="50" height="50" />
        <dt><%= contact.name %></dt>
        <dd><%= contact.street %></dd>
        <dd><%= contact.zip %></dd>
        <dd class="capitalized"><%= contact.city %></dd>
        <a class="categoryLink" href="#"><dd><%= contact.category %></dd></a>
        <div id="buttonField">
          <img src="img/edit.png" alt="edit" class="editContact" id="<%= contact.id %>" title="Edit contact" />
          <img src="img/remove.png" alt="remove" class="deleteContact" id="<%= contact.id %>" title="Delete contact" />
        </div>
      </dl>
    </div>
  </script>

  <!-- CategoryItem -->
  <script type="text/template" id="category-template">
      <input type="radio" name="categoryGroup" id="<%= category.type %>" value="<%= category.type %>" <% if ( category.type == 'none') { %> checked="checked" <% } %> /> <%= category.type %><br />
  </script>

<!-- TEMPLATES END -->

</head>
<body>
  <div id="container">
    <div id="header">
    </div>
    <div id="menu">
      <ul>
        <li>ContactME - Keeps track of your contacts</li>
      </ul>
    </div>
    <div id="categoriesWrapper">
        <!-- categories -->
    </div>
    <div id="page">
      <!-- Create-/Editform -->
    </div>
    <div id="contactWrapper">
      <!-- contacts -->
    </div>
  </div> 
</body>
</html>
